html,
body {
	width: 100%;
	/*min-width: 1200px;*/
	overflow: auto;
	background-color: #F4F2F2;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: #E5E5E5;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: -webkit-gradient(linear, left);
}

::-webkit-scrollbar-track-piece {
  background: #f2f2f2;
}
.posCent {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.mt80 {
	margin-top: 80px !important;
}

.m0 {
	margin: 0 !important;
}

.mt20 {
	margin-top: 20px;
}

.white {
	color: #fff;
}

.c666 {
	color: #666;
}

.c999 {
	color: #999;
}

.blue {
	color: #4CB8F0;
}

.primary {
	color: #0064FF;
}

.bg_f9 {
	background-color: #f9f9f9;
}
.bg_fff{
  background-color: #fff;
}
.fs12 {
	font-size: 12px;
}

.inlineBlock {
	display: inline-block;
}

.is-danger {
	color: red;
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.border{
  border: 1px solid #e5e5e5;
}
.line {
	height: 1px;
	background-color: #e5e5e5;
}

input[type='text'] {
	transition: border-color .3s ease-in-out;
}

input:focus,
select:focus {
	border-color: #0064FF !important;
}

select {
	outline: none;
}

input::-webkit-input-placeholder {
	color: #c5c5c5 !important;
}



.searchWrap {
	width: 543px;
	height: 50px;
}

.searchSide {
	position: relative;
	height: 210px;
}

button.submit {
	background-color: #0064FF;
	width: 110px;
	height: 40px;
	color: #fff;
	margin: 50px 0;
}

.router-link-exact-active,
.router-link-active {
	color: #0064FF;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
	opacity: 0;
}

label.checkBox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+span {
	display: inline-block;
	height: 14px;
	width: 14px;
	border: 1px solid #0064FF;
	transition: background-color .3s ease-in;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}

input[type="checkbox"]:checked+span {
	background-color: #0064FF;
}

input[type="checkbox"]:checked+span:after {
	content: '\A0';
	display: inline-block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-right-width: 0;
	width: 10px;
	height: 5px;
	transform: rotate(-50deg);
	position: absolute;
	top: 2px;
	left: 1px;
}


.prouductInfo {
	text-align: right;
	margin-top: 10px;
}

.prouductInfo>span {
	margin-left: 20px;
}


/*时间选择框*/

.el-input__inner {
	height: 40px !important;
	width: 182px !important;
	border: 1px solid #e5e5e5 !important;
	border-radius: 5px !important;
	padding-left: 20px !important;
	margin-left: 10px !important;
	color: #000 !important;
}

.el-input__prefix {
	left: auto !important;
	right: 28px !important;
}

.activity-edit-date.right .el-input__inner {
	margin-left: 0 !important;
}

.activity-edit-date.right .el-input__prefix {
	right: 38px !important;
}

.el-input__suffix .el-input__icon {
	display: none !important;
}


/*ele UI 修改*/

.imgWrap .el-upload--picture-card {
	background-color: #f2f2f2;
	border: 1px solid #e5e5e5;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.imgWrap .el-upload--picture-card:hover,
.imgWrap .el-upload--picture-card:focus,
.imgCon .el-upload--picture-card:hover,
.imgCon .el-upload--picture-card:focus {
	border: 1px solid #0064FF !important;
}

.imgWrap .el-upload-list--picture-card .el-upload-list__item {
	border: 1px solid #e5e5e5;
	width: 60px;
	height: 60px;
	margin: 0 8px 8px 0;
}

.imgWrap .el-upload-list--picture-card .el-upload-list__item-status-label i {
	font-size: 10px;
	margin-top: 0px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-29deg);
}

.imgWrap .el-upload-list--picture-card .el-upload-list__item-status-label {
	right: -15px;
	top: -6px;
	width: 34px;
	height: 19px;
	/*background: #0064FF;*/
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: none;
}

.el-message {
	min-width: auto !important;
}

.side_menu {
	width: 180px;
	height: 100%;
	background: #fff;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	color: #fff;
}

.menu_wrap {
  width: 180px;
  height: 100%;
	position: absolute;
	top: 60px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	color: #666767;
	user-select: none;
}

.logo_bg {
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  background: linear-gradient(#187FFF, #0049FF);
  color: #fff;

}

/*.logo {*/
	/*background: url(../images/logo/logo.png) center/100% 100% no-repeat;*/
	/*width: 150px;*/
	/*height: 34px;*/
	/*display: block;*/
	/*margin: 6px auto 0;*/
/*}*/

.menu_item {
	max-height: 51px;
	overflow: hidden;
	transition: all 0.5s;
}

.menu_item .menu_title {
	height: 51px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, .11);
	display: flex;
	font-size: 14px;
	padding: 0 12px 0 35px;
	cursor: pointer;
	opacity: 0.6;
	align-items: center;
	border-left: 5px solid transparent;
	transition: all 0.5s;
}

.menu_item .text {
	width: 100px;
	margin-left: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}

.menu_item .icon {
	width: 16px;
	height: 16px;
}

.menu_item .sub_menu {
	padding-top: 20px;
	transform: scaleY(0);
	transition: all 0.3s;
	transform-origin: top center;
}

.menu_item .child_item {
	height: 24px;
	line-height: 24px;
	padding-left: 68px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 10px;
	border-left: 5px solid transparent;
	transition: all 0.5s;
}

.menu_item.active {
	max-height: 300px;
}

.menu_item.active .menu_title {
	border-bottom-color: transparent;
	opacity: 1;
}

.menu_item.active .sub_menu {
	transform: scaleY(1);
}

.menu_item .menu_title.active {
	border-left-color: rgba(255, 255, 255, 0.5);
	background-color: #A17556;
	opacity: 1;
}

.sub_menu .child_item.active {
	background-color: #875D3E;
}

.menu_item.active .icon_arrow {
	transform: rotate(90deg);
}

.wrap {
	position: absolute;
	left: 180px;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	min-width: 1000px;
}

header {
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
}
.header_right {
    display: flex;
    margin-right: 50px;
    align-items: center;
}
.header_right > .userInfo{
  padding-right: 20px;
}
.header_right > .userInfo img {
    width: 25px;
    height: 25px;
}
.header_right > div img {
    margin-right: 10px;
       vertical-align: middle;
}
.header_right > .loginOut {
    width: 100px;
    border-left: 2px solid #f6f6f6;
    cursor: pointer;
}
.header_right > .loginOut img {
    width: 22px;
    height: 22px;
}


.crumb {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #000;
}

.crumb .crumb_item {
	margin-left: 25px;
}

.crumb .crumb_item.active a {
	color: #784F31;
}


.crumb .crumb_item.active .icon_arrow_r01 {
    background: url(/resources/images/arrow_r_02.png) center/100% 100%;
}
.crumb .crumb_item i {
	margin-left: 14px;
}

.crumb .crumb_item:last-child i {
	display: none;
}

.body {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.body  > div{
  /*width: 100%;*/
  height: 100%;
}
.main_wrap {
	overflow: hidden;
	/*margin-left: 10px;
	margin-bottom: 10px;*/
	margin: 0 10px ;
}

.select_wrap {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.select_wrap .label {
	line-height: 34px;
	width: 100px;
	text-indent: 36px;
	flex-shrink: 0;
}
.search-box{
	padding: 30px 0;
  border-radius: 6px;
}
.table_wrap{
  margin-top: 10px;
  border-radius: 6px;
}
.table_layout{
 padding: 25px 10px  10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table_scroll {
  max-height: 451px;
  overflow: auto;
  /*margin: 10px 20px 20px 10px;*/

}

.table_nav ul{
  display: flex;
  text-align: center;

}
.table_nav li {
  width: 70px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-top-right-radius: 6px;
  border-top-left-radius:6px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #fff;
  margin-bottom: -1px;
}
.table_nav li.active{
  border-bottom-color:#fff;

}

/*表格*/

.table {
  width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.table tr,
.table th,
.table td {
  border: 1px solid #e5e5e5;
}

.table thead tr {
  background-color: #f4f0e9;
  height: 40px;
}

.table tbody tr {
  height: 53px;
}

.table tbody td,
.table thead th {
  padding:  0 20px;
  white-space: nowrap;
}
.table tbody td{
  font-size: 12px;
  color: #666767;
}
.table td .btn{
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #0064FF;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

